@import "../../../styles/global-styles.scss";

.gh-card {
  font-family: $font-family-sans-serif;
  display: flex;
  align-items: center;
  max-width: 900px;
  margin: 0 auto 48px;

  @media screen and (max-width: 1000px) {
    flex-direction: column;
    width: 250px;
    max-width: 250px;
    margin: 0 16px 48px;
    flex: 1;
  }

  &__avatar {
    width: 160px;
    height: 160px;
    display: block;

    @media screen and (max-width: 1000px) {
      width: 250px;
      height: 250px;
    }
  }

  &__content {
    margin-top: 0;
    border-left: solid 1px $gray-8;
    margin-left: 16px;
    padding-left: 16px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;

    @media screen and (max-width: 1000px) {
      width: 250px;
      margin: 0;
      padding: 16px;
      display: block;
      border: none;
      height: auto;
    }

    h4 {
      font-size: 20px;
      @media screen and (max-width: 1000px) {
        padding-bottom: 16px;

        font-size: 17px;
      }
    }

    p {
      @media screen and (max-width: 1000px) {
        font-size: 15px;
      }
    }
  }

  &__label {
    @include font-weight("heavy");
  }

  &__link {
    text-decoration: none;
    @include color("light-blue-shadow");
  }

  .gh-button {
    align-self: center;
    margin-left: auto;
    margin-top: 0;

    @media screen and (max-width: 1000px) {
      margin: auto 16px 16px;
      display: block;
      text-align: center;
      width: 100%;
    }
  }
}
